html,
body {
  background: rgb(254, 253, 253);
  margin: 1em auto 2em;
  font-family: Inconsolata;
}

.main {
  display: flex;
  align-items: center;
}
.container {
  margin: 0 auto;
  padding: 50px;
}

.header {
  margin-bottom: 5px;
}
.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}
.nav-link {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}
