@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --grey: #94a3b8;
  --blue: #dbeafe;
}

html,
body {
  background: #fafaf9;
  margin: 1em auto 2em;
}

.main {
  display: flex;
  align-items: center;
}
.container {
  margin: 0 auto;
  padding: 50px;
}

.header {
  margin-bottom: 5px;
}
.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}
.nav-link {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}
